extends layout

block content
      .site-wrapper
            .site-wapper-inner
                  .cover-container
                        .inner.cover
                              h1.cover-heading GameCollector!!!!!!!
                              p.lead
                                    |Sougat has a micro peepee
                              p.lead
                                    |HA ye knew it ;)
