extends layout

block content
      .container
            .row
                  .jumbotron
                        .container
                              h1 GameCollector
                             p
                             | Gaming website to host old school games
            #products.row.view-group
                  .item.col-md-4
                        a(href='snake')
                              .thumbnail.card
                                    .img-event
                                          img.group.list-group-image.img-fluid(src="/images/snakePreview.png", alt="First Aid - First Aid Kit")
                                    .caption.card-body
                                          h4.group.card-title.inner.list-group-item-heading
                                                | Snake
                                          p.group.inner.list-group-item-text
                                                | Be the snake. Feel the snake.
                  .item.col-md-4
                        a(href='connect4')
                              .thumbnail.card
                                    .img-event
                                          img.group.list-group-image.img-fluid(src="/images/connectPreview.png", alt="First Aid - First Aid Kit")
                                    .caption.card-body
                                          h4.group.card-title.inner.list-group-item-heading
                                                | Connect4
                                          p.group.inner.list-group-item-text
                                                | Simple Connect 4 game againist the computer

                  .item.col-md-4
                        a(href='ticTacToe')
                              .thumbnail.card
                                    .img-event
                                          img.group.list-group-image.img-fluid(src="/images/first-aid-kit.png", alt="First Aid - First Aid Kit")
                                    .caption.card-body
                                          h4.group.card-title.inner.list-group-item-heading
                                                | TicTacToe
                                          p.group.inner.list-group-item-text
                                                | Basic everyday game to Tic the Toe