extends layout

block content
      .container
            .row
                  .jumbotron
                        .container
                              h1 GameCollector
                             p
                             | Gaming website to host old school games
            #products.row.view-group
                  .item.col-md-4
                        a(href='snake')
                              .thumbnail.card
                                    .img-event
                                          img.group.list-group-image.img-fluid(src="/images/snakePreview.png", alt="First Aid - First Aid Kit")
                                    .caption.card-body
                                          h4.group.card-title.inner.list-group-item-heading
                                                | Snake
                                          p.group.inner.list-group-item-text
                                                | Be the snake. Feel the snake.
                  .item.col-md-4
                        .thumbnail.card
                              .img-event
                                    img.group.list-group-image.img-fluid(src="/images/first-aid-kit.png", alt="First Aid - First Aid Kit")
                              .caption.card-body
                                    h4.group.card-title.inner.list-group-item-heading
                                          | First Aid Materials
                                    p.group.inner.list-group-item-text
                                          | Field surgery tools, bandages, alcohol swabs, medical tape, gauze, etc.

                  .item.col-md-4
                        .thumbnail.card
                              .img-event
                                    img.group.list-group-image.img-fluid(src="/images/first-aid-kit.png", alt="First Aid - First Aid Kit")
                              .caption.card-body
                                    h4.group.card-title.inner.list-group-item-heading
                                          | First Aid Materials
                                    p.group.inner.list-group-item-text
                                          | Field surgery tools, bandages, alcohol swabs, medical tape, gauze, etc.
