include mixins
doctype html
html(lang='en')
      head
            meta(charset='UTF-8')
            meta(http-equiv='X-UA-Compatible', content='IE=edge')
            meta(name='viewport', content='width=device-width, initial-scale=1')
            meta(name='description', content='')
            meta(name='author', content='')
            link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
            title GameCollector
            script(src="https://www.gstatic.com/firebasejs/5.3.0/firebase-app.js")

            //script(src="https://www.gstatic.com/firebasejs/5.3.0/firebase.js")
            script(src='https://www.gstatic.com/firebasejs/5.0.0/firebase-auth.js')
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
            link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
            // link(rel="stylesheet",href="css/bootstrap.min.css")
            // Custom styles for this template
            link(rel='stylesheet', href='/stylesheets/style.css')
            script.
                  var config = {
                        apiKey: "AIzaSyAyLB70LtGpputFqEi4PTKElGhKG7cQwgY",
                        authDomain: "gamecollector2.firebaseapp.com",
                        databaseURL: "https://gamecollector2.firebaseio.com",
                        projectId: "gamecollector2",
                        storageBucket: "gamecollector2.appspot.com",
                        messagingSenderId: "685732358765"
                  };
                  firebase.initializeApp(config);
                  //auntheticating user while loading page
                  function checkIfLoggedIn(){
                        firebase.auth().onAuthStateChanged(function(user){
                              if(user){
                                    console.log('user logged in')
                                    if(window.location.href == 'http://localhost:3000/' || window.location.href == 'http://localhost:3000/loginPage' || window.location.href == "localhost:3000/" || window.location.href == "localhost:3000/loginPage"){
                                          document.getElementById('login')
                                          .setAttribute('style', 'display:none; visibility:hidden')
                                          document.getElementById('signout')
                                          .setAttribute('style', 'display:inline; visibility:visible')
                                    }
                                    

                                    document.getElementById('loginPage')
                                    .setAttribute('style', 'display:inline; visibility:visible')
                                    document.getElementById('loginLink')
                                    .innerHTML = "Log Out"
                                    /*document.getElementById('registrationPage')
                                    .setAttribute('style', 'display:none; visbility:hidden')
                                    */
                                    document.getElementById('snake')
                                    .setAttribute('style', 'display:inline; visibility:visible')
                                    document.getElementById('connect4')
                                    .setAttribute('style', 'display:inline; visibility:visible')
                                    document.getElementById('ticTacToe')
                                    .setAttribute('style', 'display:inline; visibility:visible')   
                                    /*document.getElementById('highscore')
                                    .setAttribute('style', 'display:inline; visbility:visible')
                                    */
                              }
                              else{
                                    if(window.location.href == 'http://localhost:3000/' || window.location.href == 'http://localhost:3000/loginPage' || window.location.href == "localhost:3000/" || window.location.href == "localhost:3000/loginPage"){
                                          //- console.log("hi")
                                          //- window.location.href = "http://google.com"
                                          console.log(window.location.pathname == '/loginPage')
                                    }
                                    else{
                                          window.location.replace('http://localhost:3000/')
                                    }
                                    console.log('user not logged in')
                                    if(window.location.href == 'http://localhost:3000/' || window.location.href == 'http://localhost:3000/loginPage' || window.location.href == "localhost:3000/" || window.location.href == "localhost:3000/loginPage"){
                                          document.getElementById('signout')
                                          .setAttribute('style', 'display:none; visibility:hidden')
                                          document.getElementById('login')
                                          .setAttribute('style', 'display:inline; visibility:visible')
                                    }
                                    document.getElementById('snake')
                                    .setAttribute('style', 'display:none; visibility:hidden')
                                    document.getElementById('connect4')
                                    .setAttribute('style', 'display:none; visibility:hidden')
                                    document.getElementById('ticTacToe')
                                    .setAttribute('style', 'display:none; visibility:hidden')   
                                    /*document.getElementById('highscore')
                                    .setAttribute('style', 'display:none; visbility:hidden')
                                    */
                                    document.getElementById('loginPage')
                                    .setAttribute('style', 'display:inline; visibility:visible')
                                    /*document.getElementById('registrationPage')
                                    .setAttribute('style', 'display:inline; visbility:visible')
                                    */
                              }
                        })
                        //var user = firebaser.auth().currentUser
                  }

                  window.onload = function(){
                        checkIfLoggedIn()
                  }
                  function signInWithGoogle(){
                        var googleAuthProvider = new firebase.auth.GoogleAuthProvider()

                        firebase.auth().signInWithPopup(googleAuthProvider)
                              .then(function(data){
                                    console.log(data)
                                    var idToken = data.credential.idToken
                                    localStorage.setItem('firebase_idToken', idToken)
                              })
                              .catch(function(error){
                                    console.log(error)
                              })
                  }
                  function signOut(){
                        firebase.auth().signOut()
                        checkedIfLoggedIn
                  }

      body
            nav.navbar.navbar-inverse.navbar-fixed-top
                  .container
                        .navbar-header
                              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                                    span.sr-only Toggle navigation
                                    span.icon-bar
                                    span.icon-bar
                                    span.icon-bar
                              a.navbar-brand(href='homePage') GameCollector
                        #navbar.collapse.navbar-collapse
                              ul.nav.navbar-nav
                                    li#snake
                                          a(href='snake') Snake
                                    li#connect4
                                          a(href='connect4') Connect4
                                    li#ticTacToe
                                          a(href='ticTacToe') Tic-Tac-Toe
                                    li#loginPage
                                          a#loginLink(href='loginPage') Login Page
                                    

            .container
                  .starter-template
                        block content

            script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
            script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
