include mixins
doctype html
html(lang='en')
      head
            meta(charset='UTF-8')
            meta(http-equiv='X-UA-Compatible', content='IE=edge')
            meta(name='viewport', content='width=device-width, initial-scale=1')
            meta(name='description', content='')
            meta(name='author', content='')
            link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
            title GameCollector
            script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
            link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css')
            // link(rel="stylesheet",href="css/bootstrap.min.css")
            // Custom styles for this template
            link(rel='stylesheet', href='/stylesheets/style.css')
      body
            nav.navbar.navbar-inverse.navbar-fixed-top
                  .container
                        .navbar-header
                              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                                    span.sr-only Toggle navigation
                                    span.icon-bar
                                    span.icon-bar
                                    span.icon-bar
                              a.navbar-brand(href='/') GameCollector
                        #navbar.collapse.navbar-collapse
                              ul.nav.navbar-nav
                                    li
                                          a(href='snake') Snake
                                    li
                                          a(href='connect4') Connect4
                                    li
                                          a(href='ticTacToe') Tic-Tac-Toe
            .container
                  .starter-template
                        block content

            script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
            script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js')
